#content {
	height: 360px;
    width: 640px;
    position: absolute;
    z-index: 1000;
    display: block;
    background-color: white;
}
#button-bar {
	position:absolute;
	bottom:0px;
	right:0px;
}
#button-bar button{
	font-size: 15px;
}
.jw-dock-button {
	width: 1.8em;
	height: 1.8em;
	margin: 0.3em;
}